#playsnexts {
    display:flex;
    align-items: center;
    justify-content: center;
  }

#playpause {
    background-image: url('../../../images/playspotify.png');
    background-size:contain;
    background-repeat: no-repeat;
    width: 7vmin;
    height: 7vmin;
    margin:3vmin;
}

#playpause:hover {
  filter:brightness(0.7)
}

#prev {
    background-image: url('../../../images/prevspotify.png');
    background-size:70%;
    background-repeat: no-repeat;
    background-position:center center;
    width: 5vmin;
    height: 5vmin;
    margin:3vmin;
  }

  #next {
    background-image: url('../../../images/nextspotify.png');
    background-size:70%;
    background-repeat: no-repeat;
    background-position:center center;
    width: 5vmin;
    height: 5vmin;
    margin:3vmin;
  }

  #next:hover, #prev:hover {
    filter:brightness(0.7);
    cursor:pointer;
  }

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-grow: 1;
  }
  
  .btn-play {
    cursor: pointer;
  }
  
.btn-stop {
    background-image:url('../../../images/pausespotify.png')!important;
    cursor: pointer;
}