#cover {
  background-image: url('../../images/white.JPG');
  background-size:cover;
  width: 65vmin;
  height:65vmin;
}

#player_controls {
  background-color: #161616;
  width: 65vmin;
  height: 25vmin;
}

.album_condominium {
  background-image: url('../../images/condominium.jpg')!important;
}

.album_besidethepoint {
  background-image: url('../../images/Besidethepoint.jpg')!important;
}

.fadeOut {
  opacity:0;
  transition: opacity 0.5s;
}

.fadeIn {
  opacity:1;
  transition: opacity 0.5s;
}



.blankClass {
  background-image: url('../../images/white.JPG')!important;
}