.flex-container-v {
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
  }
  
  .flex-container-h {
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
  }

  #playlist {
	flex:1 0 auto;
  padding-right: 7vmin;
  overflow: scroll;
  max-height: 85vmin;
}

#goback {
	width:5vmin;
  height:5vmin;
  background-size: contain;
  background-repeat: no-repeat;
}

.backsymbol {
  background-image: url('./../../images/back.png');
}

.playsymbol {
  background-image: url('./../../images/playlist.png');
}

#album_title {
    flex:1 0 auto;
    padding-top:4vh;
    display:flex;
}

#playlist_list {
	border-top: 1px black solid;
}

table {
  font-family: arial, sans-serif;
  font-size:2.2vh;
  border-collapse: collapse;
  width: 100%;
}

td {
	text-align:left;
  vertical-align: middle;
  padding-bottom: 1vmin;
  padding-top: 1vmin;
}

.table_track_number{
  width: 10%;
  text-align:center;
}

.table_duration{
  width: 10%;
  text-align:right;
  padding-right:2vmin;
}

.playicon {
  display:block;
  width:100%;
  height:3vmin;
  background-image:url("../../images/playbutton.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#download_or_donate {
	margin-top:3vmin;
  max-width:fit-content;
}

.float_buttons {
	align-content: flex-end;
  margin:2vmin;
  height:4vmin;
  width:4vmin;
  cursor:pointer;
}

.float_buttons:hover {
  filter: brightness(1.2);
}

#download_button {
  background-image:url('../../images/download.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#bitcoin_button {
	background-image:url('../../images/donate.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#blank {
	flex:1 0 auto;
}

#artist {
	font-size:4vh;
}

#year {
	font-size:2vh
}

#wallet_container {
  display:none;
  float:right;
}

#wallet {
  background-color:#f1f1f1;
  padding:1vmin;
  border: 1px gray solid;
  border-radius: 5px;
  color:black;
  margin-left:2vmin;
}

.other_wallets {
  background-color:#f1f1f1;
  padding:1vmin;
  border: 1px gray solid;
  border-radius: 5px;
  color:black;
  margin-left:2vmin;
}

.div_ow {
  height:6vmin;
  font-weight: 500;
  color:rgb(61, 61, 61);
}

.wallet_visible {
  display:block!important;
}

#meta_error {
  display:none;
  text-align:right;
}

.error_visible {
  display:block!important;
}

#my_buttons {
  display:flex;
  justify-content: flex-end;
}

.track_num {
  display:block;
}

.playicon {
  display:none;
}

tr {
  cursor:pointer;
}

.track_row:hover {
  background-color:#f1f1f1;
}

.track_row:hover .playicon, .track_row.selected .playicon { 
  display: block; 
}

.track_row:hover .track_num, .track_row.selected .track_num { 
  display: none; 
}

#goback:hover {
  cursor:pointer;
	filter:brightness(1.4)
}

#album_info {
  flex: 1 0 auto;
  height: 12vmin;
  padding-right: 2vmin;
}

#album_cover {
  flex: 0 0 12vmin;
  height: 12vmin;
  background-image: url(../../images/white.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#metamask_button {
  background-image: url(../../images/metamask.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.crypto_name {
  display:inline-block;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.invisible {
  display:none!important;
}