.flex-container-v {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:column;
  }
  
  .flex-container-h {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  }
  
  .flex-container-h-albums {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  width:100%;
  }
  
  #playlist {
  flex:1 0 auto;
  padding-right:7vmin;
  overflow:scroll;
  max-height:85vmin;
  }
  
  #goback {
  width:5vmin;
  height:5vmin;
  background-size:contain;
  background-repeat:no-repeat;
  }
  
  #goback:hover {
  cursor:pointer;
  filter:brightness(1.4);
  }
  
  .backsymbol {
  background-image:url(./../../images/back.png);
  }
  
  .playsymbol {
  background-image:url(./../../images/playlist.png);
  }
  
  #album_title {
  flex:1 0 auto;
  padding-top:4vh;
  display:flex;
  }
  
  #album_list_title {
  flex:1 0 auto;
  text-align:right;
  padding-top:4vh;
  }
  
  #playlist_list {
  border-top:1px #000 solid;
  }
  
  table {
  font-family:arial,sans-serif;
  font-size:2.2vh;
  border-collapse:collapse;
  width:100%;
  }
  
  td {
  text-align:left;
  vertical-align:middle;
  padding-bottom:1vmin;
  padding-top:1vmin;
  }
  
  .table_track_number {
  width:10%;
  text-align:center;
  }
  
  .table_duration {
  width:10%;
  text-align:right;
  padding-right:2vmin;
  }
  
  .playicon {
  display:block;
  width:100%;
  height:3vmin;
  background-image:url(../../images/playbutton.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  }
  
  #download_or_donate {
  margin-top:3vmin;
  max-width:fit-content;
  }
  
  #blank {
  flex:1 0 auto;
  }
  
  #artist {
  font-size:4vh;
  color:#5e5e5e;
  }
  
  #album {
  font-size:3vh;
  font-weight:600;
  line-height:2vh;
  }
  
  #year {
  font-size:2vmin;
  }

  .smaller_text {
  font-size:1.6vmin;
  padding-left:1vmin;
  }

  .smaller_bold {
  font-weight: 700;
  }
  
  #wallet_container {
  display:none;
  float:right;
  margin-top: 5vmin;
  }
  
  #wallet {
  background-color:#f1f1f1;
  padding:1vmin;
  border:1px gray solid;
  border-radius:5px;
  color:#000;
  margin-left:2vmin;
  }
  
  .other_wallets {
  background-color:#f1f1f1;
  padding:1vmin;
  border:1px gray solid;
  border-radius:5px;
  color:#000;
  margin-left:2vmin;
  }
  
  .div_ow {
  height:6vmin;
  font-weight:500;
  color:#3d3d3d;
  text-align: right;
  }
  
  .wallet_visible {
  display:block!important;
  }
  
  #meta_error {
  display:none;
  text-align:right;
  margin-top:2vmin;
  }
  
  .error_visible {
  display:block!important;
  }
  
  .track_num {
  display:block;
  }
  
  .playicon {
  display:none;
  }
  
  tr {
  cursor:pointer;
  }
  
  .track_row:hover {
  background-color:#f1f1f1;
  }
  
  .track_row:hover .playicon,.track_row.selected .playicon {
  display:block;
  }
  
  .track_row:hover .track_num,.track_row.selected .track_num {
  display:none;
  }
  
  #goback:hover {
  cursor:pointer;
  filter:brightness(1.4);
  }
  
  #album_info {
  flex:1 0 auto;
  height:12vmin;
  padding-right:2vmin;
  text-align:right;
  }
  
  #album_cover {
  flex:0 0 12vmin;
  height:12vmin;
  background-image:url(../../images/white.JPG);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:right;
  }

  .crypto_name {
  display:inline-block;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  }
  
  .invisible {
  display:none!important;
  }
  
  #album_list_container {
  display:block;
  width:100%;
  max-height:67vmin;
  overflow:scroll;
  }
  
  #album_list {
  border-top:1px #000 solid;
  display:flex;
  flex-wrap:wrap;
  }
  
  .albumInList {
  flex:50%;
  max-width:50%;
  padding-left:2.5%;
  padding-top:2.5%;
  }
  
  .squareAlbum {
  width:100%;
  background-size:contain;
  background-repeat:no-repeat;
  padding-bottom:100%;
  cursor:pointer;
  }
  
  .squareAlbum:hover {
  box-shadow:rgba(230,230,230,1) -2px -3px 5px;
  }
  
  ::-webkit-scrollbar {
  width:4px;
  margin-right:1px;
  }
  
  ::-webkit-scrollbar-track {
  background:#fff;
  }
  
  ::-webkit-scrollbar-thumb {
  background:#161616;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background:#2b2b2b;
  }
  
  .a_name {
  color:#2b2b2b;
  font-size:2.2vmin;
  font-weight:500;
  }
  
  .a_year {
  color:#777;
  padding-left:1vmin;
  font-size:1.8vmin;
  font-weight:400;
  }

#my_buttons {
  display:flex;
  justify-content:flex-end;
  margin-top:4vmin;
  cursor: pointer;
}

#my_buttons_network {
  display:flex;
  justify-content:flex-end;
  margin-top:4vmin;
  cursor: pointer;
}

.float_buttons {
    flex: 0 0 auto;
    display: flex;
    background-color: white;
    color: #3e3e3e;
    border: 1px solid #3e3e3e;
    border-radius: 0.6vmin;
    padding: 0 2vmin;
    margin-left: 2vmin;
    font-size:1.8vmin;
    line-height: 1.8vmin;
}

.float_buttons:hover {
  background-color: rgb(223, 223, 223);
}


.button_selected {
  background-color: rgb(223, 223, 223);
}

.my_buttons_text {
  padding:0.8vmin;
  text-align: center;
  width: 100%;
}

.blocked {
  color:rgb(185, 185, 185);
  border-color:rgb(185, 185, 185);
}

#network_button {
  width:19vmin;
  padding:0.1vmin 0.5vmin;
}

.visibile {
  display:block!important;
}

#dropdowner {
  float:right;
  margin-top: -1px;
  width:19vmin;
  color: #3e3e3e;
  border: 1px solid #3e3e3e;
  border-top:none;
  border-radius: 0.6vmin;
  display:none;
}

.dropdowners {
  color: #3e3e3e;
  border-top: 1px solid #3e3e3e;
  padding: 1vmin 2vmin;
  font-size:1.8vmin;
  line-height: 1.8vmin;
  text-align: center;
  width:100%;
  height:3.8vmin;
  cursor:pointer;
}

.dropdowners:hover {
  background-color: rgb(223, 223, 223);
}

#download_icon, #wallet_icon, #metamask_icon {
  width:3vmin;
  height:3vmin;
  margin: 0.3vmin;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#download_icon {
  background-image:url('../../images/download.png');
}

#wallet_icon {
  background-image:url('../../images/wallet.png');
}

#metamask_icon {
  background-image:url('../../images/metamask.png');
}